</main>

<footer>
  <!-- Step 4 - Add a dynamic year to the footer using JS. -->

  <p>Made by Abhinav Kumar Jha</br>
    Copyright © <%= new Date().getFullYear() %></p>
</footer>
</body>

</html>